<div class="grid place-items-center mt-10">
  <div id="loadingIndicator" class="hidden mb-5">
    <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-orange-500 border-4 border-b-0"></div>
    <div class="text-orange-500 text-xs mt-2"><%= t('.searching') %></div>
  </div>

  <%= form_with url: home_path, method: :get do |f| %>
    <div class="flex items-center border-b border-b-2 border-orange-500 py-2">
      <%= f.text_field :address, placeholder: t('.placeholder'), class: 'appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none', id: 'autocomplete-input', autocomplete: 'off' %>
      <%= f.submit t('.search'), class: 'flex-shrink-0 bg-orange-500 hover:bg-orange-700 border-orange-500 hover:border-orange-700 text-sm border-4 text-white py-1 px-2 rounded', id: 'searchButton' %>
    </div>
  <% end %>

  <div id="map" class="w-11/12 h-96 rounded-xl mt-10 mb-10"></div>
  <%= javascript_include_tag "google_maps" %>
  <script defer="defer" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&libraries=places&callback=initMap" ></script>

  <% if @shops.present? %>
    <div class="card w-11/12 z-0 mb-10">
      <div class="flex flex-col justify-center items-center h-full">
        <h2 class="text-left text-3xl border-b border-gray-500 w-11/12 p-5"><%= t('.shop') %></h2>
        <%= render 'filter' %>
        <div class="w-11/12">
          <%= render @shops %>
        </div>
      </div>
    </div>
  <% end %>
</div>
