<div class="grid place-items-center mt-5">
  <div class="card w-4/5">
    <div class="card-body border-b border-gray-500">
      <%= render "bookmark_list", bookmark_list: @bookmark_list %>
    </div>

    <% if @bookmark_list.shops.any? %>
      <% @bookmark_list.shops.each do |shop| %>
        <div class="bg-base-200 p-4 m-5 rounded-xl shadow-lg relative">
          <div class="flex flex-col md:flex-row items-center" data-controller="modal">
            <%= image_tag shop.image || 'logo.png', class: 'w-full md:w-48 h-48 object-cover rounded-3xl shadow-md mb-4 md:mb-0' %>
            <div class="ml-0 md:ml-4 w-full md:w-1/2">
              <div class="flex flex-wrap items-center mb-2">
                <% shop.gourmets.each do |gourmet| %>
                  <%= link_to gourmet.name, gourmet_path(gourmet), class: "bg-orange-500 text-white py-1 px-2 text-xs font-semibold mr-2 mb-2 rounded-full hover:bg-orange-600" %>
                <% end %>
              </div>
              <%= link_to shop.name, shop_path(shop), class: 'text-xl font-semibold hover:text-yellow-500' %>
              <p class="text-sm md:text-base text-gray-600 mt-2 mb-2"><%= shop.address %></p>
              <p class="text-sm md:text-base text-gray-600 mb-2"><%= shop.phone_number %></p>
              <a href="https://www.google.com/maps/search/?api=1&query=<%= shop.name %>&query_place_id=<%= shop.place_id %>" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:border-b hover:border-yellow-500 hover:text-yellow-500">
                <i class="fas fa-location-dot mr-2"></i>
                GoogleMap
              </a>
              <%= link_to "削除", bookmark_path(shop_id: shop),  data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: 'w-20 h-12 btn bg-red-500 hover:bg-red-600 text-white absolute bottom-5 right-5' %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-2xl py-5 text-center">追加したお店はありません</p>
    <% end %>
  </div>
</div>
