<div class="grid place-items-center mb-20">
  <h1 class="text-3xl m-10"><%= t('defaults.my_page') %></h1>
  <div class="card w-4/5 bg-base-100 shadow-md z-0">
    <div class="card-body border-b border-gray-500 p-10">
      <div class="flex justify-evenly items-center">
        <%= image_tag 'logo.png', class: 'w-48 h-48' %>
        <div class="flex flex-col">
          <p class="mb-10 text-center"><%= @user.name %></p>
          <%= link_to t('defaults.profile_edit'), edit_my_page_path, class: 'bg-orange-500 text-white px-4 py-2 rounded-full hover:bg-orange-600 transition duration-300' %>
        </div>
      </div>
    </div>
    <div class="card-body p-10">
      <div class="flex flex-col justify-center items-center h-full">
        <h2 class="text-left text-xl border-b border-gray-500 w-11/12 p-5">マイリスト</h2>
        <% @bookmark_lists.each do |list| %>
          <div class="card w-11/12 bg-base-200 border-gray-500 shadow-md m-2">
            <%= link_to list.name, '#', class: 'text-left p-3'%>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-body p-10">
      <div class="flex flex-col justify-center items-center h-full">
        <h2 class="text-left text-xl border-b border-gray-500 w-11/12 p-5">レビューしたお店</h2>
        <div class="card w-11/12 bg-base-200 border-gray-500 shadow-md m-2">
          <p class="p-7">お店１</p>
        </div>
        <div class="card w-11/12 bg-base-200 border-gray-500 shadow-md m-2">
          <p class="p-7">お店２</p>
        </div>
      </div>
    </div>
  </div>
</div>
