<div class="grid place-items-center mt-10">
  <h1 class="text-2xl mb-10 underline"><%= t('.title') %></h1>
  <%= form_tag gourmets_path, method: :get, remote: true, class: "mb-4" do %>
    <%= select_tag :prefecture_id, options_from_collection_for_select(Prefecture.all, 'id', 'name'), prompt: t('.all_select'), class: "border border-gray-300 p-2 rounded-md" %>
    <%= submit_tag t('.refine_search'), class: "bg-blue-500 text-white p-2 rounded-md ml-2 hover:bg-blue-700 hover:opacity-75" %>
  <% end %>
  <div id="gourmet-list">
    <%= render 'gourmets/gourmet', gourmets: @gourmets %>
  </div>
</div>
