<%= turbo_frame_tag review do %>
  <div class="card w-full bg-base-200 shadow-xl mb-6">
    <div class="flex mx-2 items-center">
      <%= image_tag review.user.icon.url, class: 'w-9 h-9 rounded-full' %>
      <div class="ml-2 text-sm flex flex-col">
        <p><%= review.user.name %></p>
        <p class="text-gray-500"><%= l review.created_at, format: :simple %></p>
      </div>
      <% if user_signed_in? && current_user.own?(review) %>
        <div class="ml-auto">
          <%= render 'reviews/crud_menus', review: review %>
        </div>
      <% end %>
    </div>
    <div class="flex flex-col mt-1.5 mb-1.5 p-2 mx-2 border rounded-lg border-gray-300">
      <div class="flex items-center mb-2">
        <% 5.times do |i| %>
          <% star_class = review.rating > i ? 'text-yellow-500' : 'text-gray-300' %>
          <i class="fa-solid fa-star <%= star_class %> mr-2"></i>
        <% end %>
      </div>
      <p class="text-sm"><%= review.content %></p>
    </div>
  </div>
<% end %>
