<!DOCTYPE html>
<html>
  <head>
    <title>LocalGourmet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= turbo_frame_tag 'modal' %>
  </head>

  <body class="flex flex-col">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>
    <div  class="bg-orange-100 text-gray-900 body-font">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
