<!DOCTYPE html>
<html>
  <head>
    <title>LocalGourmet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= display_meta_tags(default_meta_tags) %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-82WE38FT2D"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-82WE38FT2D');
    </script>

    <%= turbo_frame_tag 'modal' %>
    <%= turbo_frame_tag 'review_modal' %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render 'shared/header' %>
    <div id="flash">
      <%= render 'shared/flash_message' %>
    </div>
    <div class="flex-grow bg-orange-100 text-gray-900 body-font">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
